.idea/
.env
.log
.venv/
.vscode/
media/
mypython/
*.pyc
**/__pycache__/
*.sqlite3
*.zip
*.parquet

**/.coverage*

# ignore joblib files
*.joblib

# ignore log files
**/logs/
**/*.log

# ignore package version file
**/_version.py

.vscode/settings.json

# Sphinx documentation
docs/build/
docs/source/_autosummary/
# env
.env
.venv
env/
venv/